<!DOCTYPE html>
<html>
  <head>
    <title>ProjectZour</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if current_user %>
      <div align='left'>
        Username : <%= current_user.username %>
      </div>
      <div align='right'>
        <%= link_to('sign_out', destroy_user_session_path, method: :delete) %>
      </div>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
